{% extends "base.html" %}
{%import 'macros.html' as macro%}
{% block content %}
<div class="jumbotron jumbo">
  <h1 class="art">Welcome to {{name}}</h1>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="card-group">
      {%if name=="al-jazeera-english"%}
        {{macro.displayArticles(aljezera_n)}}
      {%endif%}
      {%if name=="abc-news"%}
        {{macro.displayArticles(bbc_news)}}
      {%endif%}

      {%if name=="abc-news-au"%}
        {{macro.displayArticles(abc_news)}}
      {%endif%}

      {%if name=="ars-technica"%}
        {{macro.displayArticles(tech)}}
      {%endif%}
    </div>

  </div>

    </div>

{%endblock%}
