{% extends "base.html" %}
{%import 'macros.html' as macro%}
{% block content %}
<div class="jumbotron">
  <h3>Welcome to {{name}}</h3>

</div>
<div class="container-fluid">

  <div class="col-md-12">
    {%if name=="al-jazeera-english"%}
      {{macro.displayArticles(aljezera_n)}}
    {%endif%}
    {%if name=="abc-news"%}
      {{macro.displayArticles(bbc_news)}}
    {%endif%}
    {%if name=="abc-news-au"%}
      {{macro.displayArticles(abc_news)}}
    {%endif%}

    {%if name=="ars-technica"%}
      {{macro.displayArticles(tech)}}
    {%endif%}


  </div>

    </div>

{%endblock%}
