{% extends "base.html" %}
{%import 'macros.html' as macro%}
{% block content %}
{%block script%}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='javascript/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='javascript/bootstrap.js')}}"></script>
<script src="{{ url_for('static', filename='javascript/mdb.js')}}"></script>
<script src="{{ url_for('static', filename='javascript/bootstrap-material-design.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js')}}"></script>
{%endblock%}

  <div id="head" class="bg">
    <div class="overlay">
      <br><br><br>
    <h1>LaNews</h1>
    <h1>Acces Top news from All over the world</h1>
    <p>Get upto date with the latest trendind news, Plolictical news and Business news</p>

  </div>
</div>
<div class="container-fluid">
  <div class="col-md-12">

    <h2>Top Headlines</h2>
        {{macro .displayTonews(top_headline)}}


  </div>
    <h2>Top Sources</h2>
  <div class="row">
      {{macro.displaySources(sources)}}
  </div>

    </div>
    <!-- Footer -->
    <footer class="page-footer font-small bg-dark pt-4">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://github.com/kipkemoimayor"> Collins kipkemoi</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->


{%endblock%}
