{%extends "base.html"%}
{%macro  displayTonews(news_list)%}
<div class="row">


{% for top_news in news_list%}
  <div class="col-md-4">
    <div class="card">
      <div id="title" class="card-title">
          {{top_news.source}}
      </div>
      <img src="{{top_news.urlToImage}}" alt="" class="img-responsive">
      <div class="card-body">
          {{top_news.description |truncate(100) }} <br><a class="btn btn-outline-info" target="_blank" href="{{top_news.url}}">Continue R..</a>
      </div>

    </div>






  </div>




    {%endfor%}
      </div>
{%endmacro%}
